
*{
  margin:0;
  padding:0;
  font-family:calibri;
}
body{
  padding: 1.7rem 5% ;
  background-color:#f3f3f3;
  max-width:700px;
  margin:0 auto;
}
.header{
  text-align:center;
  padding:.5rem 0.5rem 1rem .5rem;
  border-radius: 10px;
}
#survey-form{
  max-width:700px;

}
fieldset{
  padding:.9em;
  border-radius:7px;
}
legend{
  font-size:25px;
}
label{
  font-size:20px;
}
input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
      width:100%;
      display:block;
      padding:.3em;
      border:1px solid grey;
      border-radius:5px;
      font-size:15px;
}
#submit {
  width:40%;
  display:block;
  margin:1.5rem auto;
  padding:.3em;
  font-size:20;
}
